{% extends "!footer.html" %}
{% block extrafooter %}
    {{ super() }}

    <div style="float: right">
        <a href="https://gitlab.com/geo-bl-ch/pyramid_saml">
            View on GitLab
        </a>
    </div>
{% endblock %}
